 body
{

background: url('arturo_smoking copia.jpg');
background-size: 110%;
background-repeat: repeat-x|repeat-y;
background-attachment:fixed;
background-position:  -40px; 
}
 
 #all ul { 
	list-style: none;
	padding: 0 13px 0 0; 
	text-align: center;
}

#title {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 400%;
	text-decoration: none; 
	padding: 3%;
	background: rgba(227,0,65,0.87);
	border-radius: 200px; 
	color: white; 
	text-align: center;
	margin: 0 0 20px 0; 
	box-shadow: 8px 8px 3px rgba(35,30,30,0.81);
	width: 90%;
	
}


#all a { 
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	text-decoration: none; 
	display: block; 
	padding: 2%;
	background: rgba(227,0,65,0.87);
	border-radius: 200px; 
	color: white; 
	text-align: center;
	margin: 0 0 5px 0; 
	box-shadow: 8px 8px 3px rgba(35,30,30,0.81);

	
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
#all:hover a {
	opacity: 0.2;
}
#all:hover ul:hover a {
	opacity: 0.5; 
}
#all:hover ul:hover a:hover {
	opacity: 1;
}
* { margin: 0; padding: 0; }
body { font: 14px Georgia, serif; }

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

#page-wrap { 
	width: 42%;	 
	margin: 3% auto; 
	float:right;
}
