head { 
	font-size: 28px;
}
	
body {
	color: white;
	background: url(Background.jpg)
}
a:link{
	color: white;
	font-size: 40px;
}

.resume a:link{
	position: absolute;
	margin-left: 1%;
	margin-top: 15%;
}

.bio a:link{
	position:absolute;
	margin-left: 1%;
	margin-top: 7<%;
}

p, h1, h2 {
	font-size: 24px;
}
