head { 
	font-size: 28px;
}
	
body {
	color: white;
	background: url(Background.jpg)
}
a:link{
	color: white;
	font-size: 40px;
}
a:visited{
	color: #FF00FF;
}

h2 {
	font-size: 14px;
}
#myHeader {
	font-size: 40px;
	color: white;
}

.Sections {
	font-size:24px;
	color: white;
}
.job_title{
	font-style: italic;
}

#BioPara{
	width: 60%;
	font-size: 20px;
}